# from .gitignore:
.idea
node_modules
coverage
npm-debug.log*
test/integration/test-output-files
.coveralls.yml


# additional:
test
.codeclimate.yml
.eslintrc.js
CONTRIBUTING.md
.travis.yml
yarn.lock