language: node_js
node_js:
  - "8"
  - "7"
  - "6"
env:
  - TEST_TYPE=unit
cache:
  yarn: true

install:
  - if [ $TEST_TYPE == integration ]; then yarn run install-dev; else yarn; fi
  - cd $TRAVIS_BUILD_DIR
script:
  - if [ $TEST_TYPE == coverage ]; then yarn run travis-coverage;
    else if [ $TEST_TYPE == unit ]; then yarn run test-unit;
    else yarn run test-integration; fi; fi

matrix:
  include:
  - node_js: "8"
    env: TEST_TYPE=coverage
  include:
  - node_js: "8.7.0"
    env: TEST_TYPE=integration

notifications:
  email:
    - gprostmail@gmail.com